#calculater{
  width: 200px;
  border-radius: 10px;
  border: 1px solid black;
}
#display{
  margin: 10px;
  width: 85%;
  font-size: 20px;
  height: 50px;
  
}
.button{
  height: 50px;
  width: 50px;
  border-radius: 10px;
  margin: 3px;
  
  
}
#button_container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}